
.home-navbar{
    background-color: #2A7247 !important;
}

.home-navbar{
    height: 90px;
}

.navbar-toggler {
    background-color: white !important;
}

.nav-link {
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}
 
.nav-link:hover {
    text-decoration: underline;
}

.card-form{
    box-shadow: rgba(2, 141, 55, 0.35) 0px 5px 15px;
}

.title-text{
    font-family: sans-serif;
    letter-spacing: 0.05em;
}

.text-permit{
    color: red;
    font-style: italic;
}